{% extends "base.html" %}
{% block title %}About{%endblock title%}
{% block body %}



<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="https://images.unsplash.com/photo-1578985545062-69928b1d9587" alt="Ice Cream" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6">
      <h1 class="display-4">About Raheem Ice Creams</h1>
      <p class="lead">
        Since our founding, Raheem Ice Creams has been committed to delivering joy in every scoop. 
        From classic vanilla to exotic mango chili, we handcraft our flavors using only the finest natural ingredients.
      </p>
      <p>
        We are a family-owned brand rooted in tradition but driven by innovation. 
        Whether you're celebrating a birthday or just a sunny afternoon, we promise a cool and creamy experience like no other.
      </p>
      <p><strong>Serving smiles since 1999.</strong></p>
    </div>
  </div>
</div>


{% endblock body %}    